/AspNetBlankAppTest/packages
/AspNetBlankAppTest/.vs
/AspNetBlankAppTest/AspNetBlankAppTest/bin
/AspNetBlankAppTest/AspNetBlankAppTest/obj
/TestAppClient/TestAppClient/bin
/TestAppClient/TestAppClient/obj
